@import "tailwindcss";

* {
  font-family: "Inter", sans-serif;
}

@theme {
  --color-primary: #451bff;
  --color-primary-hover: #4f2eff;
  --color-primary-active: #7f4dff;
  --color-primary-focus: #9f6bff;
  --color-primary-disabled: #b3a2ff;
}